<header>

 <div class="nav-holder"> 
  <nav class="navbar navbar-expand-lg navbar-light bg-light nav-list" style="padding: 20px">
    <a class="navbar-brand" href="#">Abdullah</a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="#">CONTACT <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="#">CLIENTS</a>
        <a class="nav-item nav-link" href="#">PORTFOLIO</a>
        <a class="nav-item nav-link" href="#">EXPEREINCE</a>
        <a class="nav-item nav-link" href="#">SKILLS</a>
        <a class="nav-item nav-link" href="#">EDUCATION</a>
      </div>
    </div>
  </nav>
</div>

</header>

